<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aicustomer.mapper.CustomerProfileMapper">

    <select id="findByCustomerAccountId" parameterType="long" resultType="com.aicustomer.entity.CustomerProfile">
        SELECT * FROM customer_profile WHERE customer_account_id = #{customerAccountId}
    </select>

    <select id="findByCustomerId" parameterType="long" resultType="com.aicustomer.entity.CustomerProfile">
        SELECT * FROM customer_profile WHERE customer_id = #{customerId}
    </select>

    <insert id="insert" parameterType="com.aicustomer.entity.CustomerProfile" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO customer_profile (
            customer_account_id, customer_id, real_name, gender, birthday, 
            location, company, position, website, interests, 
            background_image, privacy_settings, create_time, update_time
        ) VALUES (
            #{customerAccountId}, #{customerId}, #{realName}, #{gender}, #{birthday},
            #{location}, #{company}, #{position}, #{website}, #{interests},
            #{backgroundImage}, #{privacySettings}, #{createTime}, #{updateTime}
        )
    </insert>

    <update id="update" parameterType="com.aicustomer.entity.CustomerProfile">
        UPDATE customer_profile SET
            real_name = #{realName},
            gender = #{gender},
            birthday = #{birthday},
            location = #{location},
            company = #{company},
            position = #{position},
            website = #{website},
            interests = #{interests},
            background_image = #{backgroundImage},
            privacy_settings = #{privacySettings},
            update_time = #{updateTime}
        WHERE id = #{id}
    </update>

    <select id="findUpcomingBirthdays" resultType="java.util.HashMap">
        SELECT 
            cp.customer_id as customerId,
            c.customer_name as customerName,
            DATE_FORMAT(cp.birthday, '%Y-%m-%d') as birthday,
            cp.interests,
            CASE 
                WHEN DATEDIFF(
                    DATE_ADD(cp.birthday, INTERVAL YEAR(CURDATE()) - YEAR(cp.birthday) YEAR),
                    CURDATE()
                ) >= 0 THEN DATEDIFF(
                    DATE_ADD(cp.birthday, INTERVAL YEAR(CURDATE()) - YEAR(cp.birthday) YEAR),
                    CURDATE()
                )
                ELSE DATEDIFF(
                    DATE_ADD(cp.birthday, INTERVAL YEAR(CURDATE()) + 1 - YEAR(cp.birthday) YEAR),
                    CURDATE()
                )
            END as daysUntil
        FROM customer_profile cp
        INNER JOIN customer c ON cp.customer_id = c.id
        WHERE cp.birthday IS NOT NULL
        AND c.deleted = 0
        AND c.status = 1
        AND (
            DATEDIFF(
                DATE_ADD(cp.birthday, INTERVAL YEAR(CURDATE()) - YEAR(cp.birthday) YEAR),
                CURDATE()
            ) BETWEEN 0 AND #{days}
            OR
            DATEDIFF(
                DATE_ADD(cp.birthday, INTERVAL YEAR(CURDATE()) + 1 - YEAR(cp.birthday) YEAR),
                CURDATE()
            ) BETWEEN 0 AND #{days}
        )
        ORDER BY daysUntil ASC
        LIMIT 50
    </select>

</mapper>
